In [1]:
import pandas as pd
import geopandas as gpd
import csv
import os
import sys
import numpy as np
import zipfile as zf

In [65]:
# worldwide refugee data: http://popstats.unhcr.org/en/time_series

In [4]:
!curl -O "https://www.dhs.gov/sites/default/files/publications/YRBK%202015%20RFA%20Excel%20Final.zip"

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100  106k  100  106k    0     0   219k      0 --:--:-- --:--:-- --:--:--  227k

In [5]:
ref = zf.ZipFile('YRBK%202015%20RFA%20Excel%20Final.zip', 'r')
ref.extractall()

In [56]:
usa = pd.read_excel('YRBK 2015 RFA Excel Final/fy2015_table13.xls', skiprows=3, skip_footer=2)

In [60]:
usa.columns = ['Year', 'USA_numbers']

In [29]:
refugees = pd.read_csv('unhcr_popstats_export_time_series_2017_02_10_174728.csv', skiprows = 3)

In [30]:
refugees.head(10)

,Year,Country / territory of asylum/residence,Origin,Population type,Value
0,1951,Australia,Various/Unknown,Refugees (incl. refugee-like situations),180000
1,1951,Austria,Various/Unknown,Refugees (incl. refugee-like situations),282000
2,1951,Belgium,Various/Unknown,Refugees (incl. refugee-like situations),55000
3,1951,Canada,Various/Unknown,Refugees (incl. refugee-like situations),168511
4,1951,Switzerland,Various/Unknown,Refugees (incl. refugee-like situations),10000
5,1951,Germany,Various/Unknown,Refugees (incl. refugee-like situations),265000
6,1951,Denmark,Various/Unknown,Refugees (incl. refugee-like situations),2000
7,1951,Spain,Various/Unknown,Refugees (incl. refugee-like situations),2000
8,1951,France,Various/Unknown,Refugees (incl. refugee-like situations),290000
9,1951,United Kingdom,Various/Unknown,Refugees (incl. refugee-like situations),208000

In [32]:
refugees.drop(['Country / territory of asylum/residence', 'Origin', 'Population type'],
             axis = 1, inplace = True)

In [35]:
refugees.head()

   Year   Value
0  1951  180000
1  1951  282000
2  1951   55000
3  1951  168511
4  1951   10000

In [43]:
refugees['Year'] = pd.to_numeric(refugees['Year'], errors='coerce')
refugees['Value'] = pd.to_numeric(refugees['Value'], errors='coerce')

In [51]:
refugees = refugees.groupby('Year').sum()

In [55]:
refugees = refugees.reset_index()

In [61]:
merged = pd.merge(usa, refugees, on='Year')

In [63]:
merged['percentage'] = merged.USA_numbers / merged.Value

In [64]:
merged

    Year  USA_numbers       Value  percentage
0   1980       207116   8287287.0    0.024992
1   1981       159252   9611176.0    0.016569
2   1982        98096  10218319.0    0.009600
3   1983        61218  10519723.0    0.005819
4   1984        70393  10557306.0    0.006668
5   1985        67704  11699562.0    0.005787
6   1986        62146  12028574.0    0.005167
7   1987        64528  12668947.0    0.005093
8   1988        76483  14341431.0    0.005333
9   1989       107070  14726576.0    0.007271
10  1990       122066  17390695.0    0.007019
11  1991       113389  16848803.0    0.006730
12  1992       115548  17819063.0    0.006485
13  1993       114181  16325525.0    0.006994
14  1994       111680  15753691.0    0.007089
15  1995        98973  14896087.0    0.006644
16  1996        75421  13357087.0    0.005647
17  1997        69653  12015350.0    0.005797
18  1998        76712  11480860.0    0.006682
19  1999        85285  11687226.0    0.007297
20  2000        72165  12129572.0    0.005950
21  2001        68920  12116835.0    0.005688
22  2002        26785  10594055.0    0.002528
23  2003        28286   9592795.0    0.002949
24  2004        52840   9573397.0    0.005519
25  2005        53738   8661994.0    0.006204
26  2006        41094   9877703.0    0.004160
27  2007        48218  11390930.0    0.004233
28  2008        60107  10489812.0    0.005730
29  2009        74602  10396538.0    0.007176
30  2010        73293  10549681.0    0.006947
31  2011        56384  10404804.0    0.005419
32  2012        58179  10497957.0    0.005542
33  2013        69909  11699279.0    0.005975
34  2014        69975  14376295.0    0.004867
35  2015        69920  16117430.0    0.004338