In [91]:
import pandas as pd
import geopandas as gpd
import csv
import os
import sys
import numpy as np
import zipfile as zf

In [5]:
!curl -O 'https://www.dhs.gov/sites/default/files/publications/YRBK%202015%20RFA%20Excel%20Final.zip'

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  106k  100  106k    0     0   665k      0 --:--:-- --:--:-- --:--:-- 7106k

In [13]:
ref = zf.ZipFile('YRBK%202015%20RFA%20Excel%20Final.zip', 'r')
ref.extractall()

In [112]:
df_refugees = pd.read_excel('YRBK 2015 RFA Excel Final/fy2015_table14d.xls', skiprows = 3)

In [114]:
df_refugees.head()

,Region and country of nationality,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,REGION,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Total,41094,48218,60107,74602,73293,56384,58179,69909,69975,69920
2,Africa,18129,17486,8943,9678,13325,7693,10629,15984,17501,22492
3,Asia,10086,23564,44819,58309,52695,44583,44416,48840,47197,43115
4,Europe,9615,4192,2059,1693,1238,996,908,482,818,2164

In [115]:
df_refugees.dropna(inplace = True)

In [116]:
df_refugees.replace('-', 0 ,inplace = True)

In [117]:
df_refugees.replace('D', 0, inplace = True)

In [118]:
df_refugees.replace('X', 0, inplace = True)

In [119]:
columns = list(np.arange(2006, 2016, 1))
df_refugees[columns] = df_refugees[columns].apply(pd.to_numeric, errors = 'coerce')

In [120]:
# by continent
continental = df_refugees[1:7]

In [121]:
country = df_refugees[7:]

In [123]:
country.head()

,Region and country of nationality,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
8,Unknown,0,0,9,65,1053,136,148,164,141,99
10,Total,41094,48218,60107,74602,73293,56384,58179,69909,69975,69920
11,Afghanistan,651,441,576,349,515,428,481,661,753,910
12,Angola,13,4,0,8,0,0,0,6,0,5
13,Armenia,87,29,9,4,0,15,8,3,10,49

In [127]:
from sklearn.cluster import KMeans

In [129]:
clusters = KMeans(5).fit(country[columns][11:])

KMeans(copy_x=True, init='k-means++', max_iter=300, n_clusters=5, n_init=10,
    n_jobs=1, precompute_distances='auto', random_state=None, tol=0.0001,
    verbose=0)

In [58]:
df_state = pd.read_excel('refugees_by_state.xlsx')

In [59]:
df_state.head()

,STATE,AFGHANISTAN,ANGOLA,ARMENIA,AZERBAIJAN,BAHAMAS,BANGLADESH,BELARUS,BHUTAN,BOTSWANA,...,TURKEY,TURKMENISTAN,UGANDA,UKRAINE,UNITED KINGDOM,UZBEKISTAN,VIETNAM,YEMEN,ZIMBABWE,GRAND TOTAL
0,ALABAMA,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,105
1,ALASKA,0,0,0,0,0,0,0,3,0,...,0,0,0,7,0,1,0,0,0,146
2,ARIZONA,37,0,0,0,0,0,0,56,0,...,2,0,0,0,0,0,0,0,0,3133
3,ARKANSAS,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,13
4,CALIFORNIA,215,0,46,0,0,1,29,16,0,...,0,0,14,313,0,10,3,1,0,5718

In [62]:
import shapely

In [63]:
!curl -O 'http://www2.census.gov/geo/tiger/GENZ2015/shp/cb_2015_us_state_5m.zip'

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  973k  100  973k    0     0   334k      0  0:00:02  0:00:02 --:--:--  338k

In [64]:
ref = zf.ZipFile('cb_2015_us_state_5m.zip', 'r')
ref.extractall('US_Shapefiles')